<form (ngSubmit)="signin()" #signinForm="ngForm">
	<div fxLayout="column">
		<div fxLayoutAlign="center">
			<h2>Login</h2>
		</div>
		<div fxLayout="row" fxLayoutAlign="center start">
			<div fxLayout="column" fxFlex.xs="80%" fxFlex.sm="50%" fxFlex.md="30%" fxFlex.lg="20%" fxFlex.xl="15%">
				<div>
					<mat-form-field fxFlex="100%">
						<input name="emailAddress" [(ngModel)]="emailAddress" type="email" required matInput placeholder="Email address" clearInput>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field fxFlex="100%">
						<!-- <input name="password" [(ngModel)]="password" type="password" required matInput placeholder="Password" clearInput> -->
						<input name="password" [(ngModel)]="password" type="password" matInput placeholder="Password" clearInput>
					</mat-form-field>
				</div>
				<div fxLayoutAlign="center">
					<button type="submit" [disabled]="signinForm.invalid || signinPending" mat-raised-button>Sign in</button>
				</div>
				<div *ngIf="wrongInput" class="error-message">
						<label>Wrong email address and / or password</label>
				</div>
				<div fxFlex class="comment">
					<label>* Mandatory fields</label>
				</div>
			</div>
		</div>
	</div>
</form>
