
h2 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.comment {
    margin-top: 20px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 70%;
}

.error-message {
    margin: 20px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-align: center;
    color: red;
}
