<div fxLayout="column">
	<div fxLayoutAlign="center">
		<h2>Books</h2>
	</div>
	<div fxLayout="row" fxLayoutAlign="center start">
		<div fxLayout="column" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex.md="60%" fxFlex.lg="50%" fxFlex.xl="40%">
			<mat-accordion class="headers-align">
				<mat-expansion-panel *ngFor="let book of page.data; let last = last">
					<mat-expansion-panel-header>
						<mat-panel-title>
							{{book.name}}
						</mat-panel-title>
						<mat-panel-description>
							{{book.year}}
						</mat-panel-description>
					</mat-expansion-panel-header>
					<div fxLayout="row">
						<div id="bookcolor" fxFlex="10" [ngStyle]="{ 'background': book.color}"></div>
						<div fxFlex="5"></div>
						<div id="pantone" fxFlex>
							Pantone : {{book.pantone_value}}
						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
			<div fxLayout="row" fxLayoutAlign="space-between center" class="button-bar">
				<div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center">
					<button id="prevPage" (click)="prevPage()" [disabled]="page.page==1 || booksPendding" mat-raised-button>
						<mat-icon>keyboard_arrow_left</mat-icon>
					</button>
				</div>
				<div fxFlex="auto" fxLayout="row" fxLayoutAlign="center center">
					<label>{{page.page}} / {{page.total_pages}}</label>
				</div>
				<div fxFlex="auto" fxLayout="row" fxLayoutAlign="end center">
					<button id="nextPage" (click)="nextPage()" [disabled]="page.page==page.total_pages || booksPendding" mat-raised-button>
						<mat-icon>keyboard_arrow_right</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
