h2 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.button-bar {
    margin-top: 20px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.headers-align .mat-expansion-panel-header-title, 
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
