<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>CPI Test</span>
		<span class="toolbar-spacer"></span>
		<div [hidden]="!isLogged()">
			<button (click)="signout()" mat-icon-button>
				<mat-icon class="toolbar-icon">exit_to_app</mat-icon>
			</button>
		</div>
	</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>